In [12]:
import numpy as np
import pandas as pd

Guideline

In [13]:
df_train = pd.read_csv("practicalDS_final_train.csv")
df_test = pd.read_csv("practicalDS_final_test.csv")

In [14]:
df_train

,0.0,0.3,0.6,0.9,1.2,1.5,1.8,2.1,2.4,2.7,...,28.2,28.5,28.8,29.1,29.4,29.7,30.0,y1,y2,y3
0,2.738336,8.323763,29.121541,32.401615,43.891311,34.872027,34.568435,29.337330,34.998193,40.734324,...,33.091463,20.142945,30.967801,41.170026,24.518073,28.853145,27.894459,0.167587,0.734110,38.428817
1,2.518313,2.717225,6.209738,9.080291,10.147566,11.661530,11.441234,6.847412,10.257626,8.794974,...,9.134015,14.806752,6.871363,11.310642,8.165971,10.259042,9.647813,0.090727,0.797006,15.559877
2,1.912495,5.221840,20.962896,34.390567,26.224311,37.132729,36.516273,50.549983,36.057934,50.207161,...,45.102253,32.410989,27.568698,29.466532,48.304654,40.899999,36.863814,0.133110,0.769398,41.337846
3,1.120273,6.632757,24.916341,24.956585,31.881855,31.999249,32.830630,33.399472,32.062442,35.140179,...,32.399347,28.040965,33.827744,32.988749,23.769681,32.169707,32.642788,0.254985,0.403918,31.704299
4,2.877662,4.883336,6.676079,4.756398,3.676539,3.575273,6.679682,6.873797,6.775437,3.429427,...,4.105692,2.796645,2.505581,2.389368,1.801234,1.682276,2.981087,0.011368,0.657824,45.059763
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2.687529,9.439918,27.384459,32.789498,41.484405,37.370740,39.253710,32.213276,29.846021,38.192917,...,36.936307,33.300278,33.403560,37.949745,35.558056,31.584420,39.695204,0.186788,0.339016,34.213116
9996,1.683893,5.357025,14.267728,22.048063,23.673701,40.827300,38.608996,32.153293,27.191009,35.511416,...,40.171736,23.372952,39.598829,37.501821,39.206520,50.216712,22.978109,0.095553,0.690675,38.652716
9997,2.357495,8.758103,22.026250,30.359694,35.845850,21.092755,30.190494,41.025767,36.532462,53.820234,...,38.194465,18.963296,33.580334,44.859016,34.602478,49.510261,32.676778,0.114614,0.685953,34.520605
9998,2.448893,2.679217,3.216163,4.029375,6.444373,5.867069,5.377359,4.114127,2.583267,1.502187,...,10.546917,12.241247,14.502242,15.147574,10.608006,8.944287,8.568862,0.019661,0.751295,20.540135
9999,1.931751,2.192752,3.529987,4.650915,4.039231,5.425233,7.154134,6.571015,10.369484,14.427318,...,28.548419,30.156872,17.867468,27.448849,22.966857,26.024580,24.315406,0.036804,0.374255,33.361023

In [15]:
df_test

,0.0,0.3,0.6,0.9,1.2,1.5,1.8,2.1,2.4,2.7,...,28.2,28.5,28.8,29.1,29.4,29.7,30.0,y1,y2,y3
0,1.926939,3.564497,6.097690,7.891686,9.213289,9.184814,9.966213,9.110598,10.145267,10.384089,...,10.533008,11.327291,9.355778,8.995636,8.916908,8.944373,8.221050,NaN,NaN,NaN
1,0.626517,2.556965,10.254843,18.139665,37.567689,33.537998,49.663235,55.920496,48.993241,53.258554,...,40.111597,48.163610,38.819781,51.794926,47.343346,56.200467,44.333236,NaN,NaN,NaN
2,4.099241,12.442767,12.491766,20.289472,28.980495,24.206024,52.086430,40.349939,32.933178,26.680633,...,34.562370,30.378781,19.553116,21.301209,25.095957,34.777271,46.543395,NaN,NaN,NaN
3,5.830690,21.601396,22.500990,28.372798,22.098666,24.164152,26.768726,29.502922,27.185299,31.237414,...,28.610826,32.300416,27.317138,25.413032,25.566471,24.805603,28.846536,NaN,NaN,NaN
4,4.344233,5.688863,8.129815,12.862000,8.114951,9.702439,11.422427,15.991346,12.410991,14.627367,...,28.809392,43.080534,37.974490,25.732039,22.488804,20.801238,19.376019,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1.631194,1.871977,3.712710,4.591551,5.300178,8.510097,8.990795,12.573848,8.467255,7.043736,...,4.795527,13.574893,10.918486,11.498229,9.271193,10.672755,8.091418,NaN,NaN,NaN
996,2.150485,19.981469,59.680601,65.707417,63.572373,59.450580,61.093942,60.140321,62.195903,64.900090,...,64.980790,54.971915,58.827979,63.258590,69.711055,66.326111,64.066934,NaN,NaN,NaN
997,2.440879,10.776013,33.925628,55.983192,22.598635,29.914703,42.621602,53.727475,59.371435,87.168911,...,5.273051,19.120651,40.628170,76.149831,50.715667,44.733449,21.835247,NaN,NaN,NaN
998,3.812092,3.149528,3.749086,5.454574,4.733941,5.079733,5.383555,6.195088,5.352293,8.475386,...,4.741636,6.648955,7.859952,7.596546,12.429269,11.310370,7.189561,NaN,NaN,NaN
999,3.130144,71.249228,88.248312,65.344425,47.137440,82.279473,55.010181,56.348877,68.134025,63.746267,...,62.819984,66.047251,97.423428,62.499686,49.313302,88.155858,82.407313,NaN,NaN,NaN

In [16]:
df_test[list(df_test.columns[101:])] # y1, y2, y3 are None --> you need to fill this using your training model!
print(df_test[list(df_test.columns[101:])])

#After filling your answer, plz upload your '.csv' file like this:
#name = 'your name'
#df_test.to_csv("answer_{}.csv".format(name), index=False)

     y1  y2  y3
0   NaN NaN NaN
1   NaN NaN NaN
2   NaN NaN NaN
3   NaN NaN NaN
4   NaN NaN NaN
..   ..  ..  ..
995 NaN NaN NaN
996 NaN NaN NaN
997 NaN NaN NaN
998 NaN NaN NaN
999 NaN NaN NaN

[1000 rows x 3 columns]

# Please submit your code ('.py' or '.ipynb') with '.csv' file